@use '../../styles/global' as *;

.filters2 {

  font-family: 'Poppins', sans-serif !important;


  width: 100%;
  text-align: center;
  border-bottom: #CA8787 1px solid;
  
  &__title {
    padding: 0.5rem;
    color: #CA8787;
    font-weight: 300;
  }
  &__list {
    list-style: none;
    display: flex;
    display: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  &__item {
    
    border: #CA8787 0.09rem solid;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: #E1ACAC;
    color: #493628;
    margin: 0.25rem 0.5rem 0.25rem 0;
    list-style: none;
    // width: 5rem;
    &:hover {
      background-color: #A87676;
      border: #A87676 ;
      color: white;
      cursor: pointer;
    }
  }
}
.filters2__item--active {
  background-color: #A87676;
      border: #A87676 ;
      color: white;
}
